body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  text-align: center;
}

h1 {
  font-family: arial;
  font-size: 3rem;
}

button {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  border: .5rem;

}

ul {
  padding-top: 2rem;
}

li {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  }

.flexIt {
  display: flex;
  flex-direction: row;
}

.left {
  width: 50vw;
  h2 {
    font-size: 2rem;
  }
}

.right {
  text-align: left;
}