body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-heading {
  h1 {
    background-color: black;
    line-height: 1;
    margin: 0rem;
    text-align: left;
    font-style: italic;
    font-size: 15vw;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -.6rem;
  }
}

.main-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media (min-width: 700px) {
    flex-direction: row;
  }
  &-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    @media (min-width: 700px) {
      width: 75vw;
    }
    h2 {
      font-size: 1.5rem;
    }

    &-options {
      font-size: 1.25rem;
      line-height: 1.25;
    }
    &-controls {
      line-height: 1.5;
      button {
        margin-top: 2rem;
        font-size: 2.5rem;
        padding: 2.5rem;
        border: .5rem black solid;
        font-weight: bold;
        border-top-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
        background-color: lightgrey;
        transition: background-color 1s ease-in-out;
        &:hover {
          background-color: #F6F6F6;
        }
        @media (min-width: 600px) {
          margin-top: 4rem;
          font-size: 5rem;
          padding: 5rem;
          border: .5rem black solid;
        }
      }
      &-options {
        text-align: center;
        &-inner {
          display: inline-block;
          text-align: left;
        }
      }
      &-button {
        text-align: center;
      }

    }
  }
  &-right {
    text-align: left;
    h2 {
      text-align: center;
    }
  }
}

svg {
  position: absolute;
  z-index: -1;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .card-graphics {
    text-align: center;
    svg polygon {
      stroke-width: 6px;
    }
  }
  .card-info {
    text-align: center;
    &-name {
    }
    .filled-star, .empty-star {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.05rem;
      fill: #FFD73B;
    }
    .stars {
      margin: auto;
      svg {
        position: static;
      }
    }
  }
}

.card-info, .card-graphics {
  position: relative;
}

.new-card {
  .delete-card {
    padding-right: 12rem;
    button {
      font-size: 2rem;
    }
}
}
.delete-card {
  text-align: right;
  padding-right: 6rem;
  button {
    border: 0;
    background-color: inherit;
    font-size: 1.5rem;
  }
}


/*
.tag-item {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  border: 0.15rem solid black;
  border-bottom: 0;
  padding: 0rem 0rem 1rem 1rem;
  font-style: italic;
  &-name {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12rem;
    a:link, a:visited {
      text-decoration: inherit;
      color: inherit;
      font-style: normal;
      //cursor: auto;
      margin-right: 0.5rem;
      margin-top: .25rem;
      }
  }
  &:first-child {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  &:last-child {
    border-bottom: 0.15rem solid black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  &.new-item {
    display: flex;
    flex-direction: column;
    border: black .5rem solid;
    border-radius: 5rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-style: italic;
    .tag-item-top {
      margin: auto;
      width: 20rem;
    }
    .stars {
      margin: auto;
      svg {
        position: static;
      }
    }
    .empty-star, .filled-star {
      width: 1.75rem;
      height: 1.75rem;
    }
    .delete-tag {
      font-size: 2.0rem;
    }
  }
  .delete-tag {
    border: 0;
    background-color: inherit;
    font-size: 1.5rem;
  }
} */
